body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #5d6569;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin-top: 5rem;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: white;
    padding: 1rem 0;
    box-shadow: 0rem 0.25rem 0.625rem rgba(00, 00, 00, 0.33);
    backdrop-filter: blur(2.5rem);
    background-color: rgba(38, 0, 204, 0.28);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1rem;
}
  
.logo-text {
    font-size: 1.5rem;
}
  
.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.navigation li {
    margin-left: 2rem;
}
  
.navigation a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
  
.navigation a:hover {
    color: #000000;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

#home {
    text-align: center;
}
#projets {
    text-align: center;
}

.widget button {
    width: 18.75rem;
    height: 9.375rem;
    background: linear-gradient(135deg, #333333, #0011ffa2);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    border: 0.125rem solid #2e343d;
    border-radius: 0.938rem;
    padding: 0.625rem 1.25rem;
    box-shadow: 0 0.25rem 0.5rem #242728;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 0.625rem;
}

.widget button:hover {
    transform: translateY(-0.625rem);
    background: linear-gradient(135deg, #333333, #0011ff);
}

#language-selector {
    font-size: 1rem;
    padding: 0.313rem;
    border-radius: 0.313rem;
    border: 0.063rem solid #ccc;
    width: 12.5rem;
}

footer {
    text-align: center;
    padding: 1.25rem;
    background: #1a1a1a;
    color: #f5f5f5;
    margin-top: auto;
}
