body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #5d6569;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin-top: 80px;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: white;
    padding: 1rem 0;
    box-shadow: 0px 4px 10px rgba(00, 00, 00, 0.33);
    backdrop-filter: blur(40px);
    background-color: rgba(38, 0, 204, 0.28);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
  
.logo-text {
    font-size: 1.5rem;
}
  
.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.navigation li {
    margin-left: 2rem;
}
  
.navigation a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
  
.navigation a:hover {
    color: #000000;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

#home {
    text-align: center;
}
#projets {
    text-align: center;
}

.widget button {
    width: 300px;
    height: 150px;
    background: linear-gradient(135deg, #333333, #0011ffa2);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #2e343d;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px #242728;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px;
}

.widget button:hover {
    transform: translateY(-10px);
}

#language-selector {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1a1a1a;
    color: #f5f5f5;
    margin-top: auto;
}
